body{
    font-family: "Baskerville Old Face";
   margin-left: 8px;
  
 }

@media screen 

 and (max-device-width: 999px)
{

.header{
   height: 60px;
   background-color: #2c2c2c;
   color: #fff;
   position: fixed;
   width: 1190px;
   
   display: block;
}
 .logo h3{
    margin-top: 25px;
   margin-left: 40px;
   position: absolute;
   
   
 
   
 }
 .male{
   width: 150px;
   height: 53px;
   background-color: black;
   margin-top: 4px;
   position: absolute;
   text-align: center;
   margin-left: 100px;
 }
 .male a{
   text-decoration: none;
   color: #fff;
 }
  .female{
   width: 150px;
   height: 53px;
   background-color: black;
   margin-top: 4px;
   position: absolute;
    margin-left: 280px;
text-align: center;
 }
  .female a{
   text-decoration: none;
   color: #fff;
 }
 .right-header{
   
   float: right;
   margin-top: 29px;
   margin-right: 30px;
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
 .search{
   margin-left: -30px;
 }
  .search a{
   text-decoration: none;
   color: #fff;
  }
 .cart a{
   text-decoration: none;
   color: #fff;
 }
 .main{
   margin-left: 4px;
   background-image: url('https://imagizer.imageshack.com/img923/550/c6Lbto.jpg');
   width: 1200px;
   max-width: 1180px;
    min-width: 1000px;
   overflow: hidden;
   background-size: cover;
    display: flex;
   justify-content: space-evenly;
   
   padding: 100px 0px;
  
   
   
 }
 
     @media screen 
and (min-device-width: 500px) 
and (max-device-width: 790px){
      .main{
      
      
      }
}
 .box1{
   margin-top: 100px;
   
 }
 .main-text{
  width: 700px;
   margin-left: 80px;
   margin-top: 300px; 
 }
 .main-text p{
   width: 400px;
  
   
   margin-left: 30px;
 }
 .main-text h1{
  
   
   margin-left: 30px;
  
   font-family: "Baskerville Old Face";
   font-size: 3rem;
 }
 .shop-today{
   
   
   margin-left: 1px;
 }
 .main-text button{
   width: 140px;
    margin-left: 27px;
   border: none;
  font-size: 15px;
   color: #fff;
   height: 50px;
   background-color: black;
   z-index: auto;
   cursor: pointer;
 }
 button a{
   margin-left: -4px;
   font-size: 16px;
   text-decoration: none;
   color: black;
 
 }
 button i{
   margin-left: 10px;
   font-size:16px;
 }
 .main-img{
   
   width: 350px;
   height: 450px;
   margin: 200px 0px;
   
   
 }
 .main-img img{
   
   width: 350px;
   height: 450px;
   
  
 }
 .box1{
   
   margin-left: 670px;
   width: 500px;
   height: 600px;
  
   margin-right: 20px;
   font-size: 22px;
  
 }
 .box1 img{
   width: 500px;
   height: 600px;
   overflow: hidden;
   object-fit: cover;
   border-radius: 20px;
 }

 
 .shopnow{
  font-size: 15px;
 
   margin-top: -296px;
   margin-left: -60px
 }
  .shopnow button{
   width: 120px;
   height: 45px;
  font-size: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: black;
 
   
 }
 .clothing{
   position: absolute;
   margin-top: -390px;
   margin-left: -100px;
   line-height: 10px;
 }
 .clothing h2{
   margin-left: -50px;
   width: 350px;
 }
 .clothing h3{
   font-size: 30px;
   margin-left: 60px;
  
 }
 .box2{
    width: 500px;
   height: 600px;
   font-size: 22px;
   margin-top: -180px;
   margin-left: 20px;
  
 }
 .box2 img{
   width: 500px;
   height: 600px;
    border-radius: 20px;

   object-fit: cover;
 }
 
 .box2-text {
    margin-left: -50px;
 }
  .box2 h2{
   margin-top: -360px;
   margin-left: 450px;
 }
  .box2 button{
  width: 120px;
   height: 45px;
    margin-left: 450px;
    color: #fff;
    border: none;
 }
 .shopnow2{
    margin-left: 30px;
   margin-top: -20px;
  
   
 }
 .shopnow2 button{
   width: 120px;
   height: 45px;
  font-size: 15px;
   cursor: pointer;
   border: none;
   background-color: black;
   color: #fff;
 }
     .box3{
    width: 500px;
   height: 600px;
   
   margin-top: -160px;
   margin-left: 660px;
      
      
 }
  .box3 img{
   width: 500px;
   height: 600px;
     border-radius: 20px;
 }
 .shoes-text{
   margin-top: -390px;
   margin-left: -100px;
   line-height: 10px;
   font-size: 22px;
 }
 .shoes-text button{
   width: 120px;
   height: 45px;
  font-size: 15px;
   cursor: pointer;
   margin-left: 50px;
   color: #fff;
   border: none;
 }
 .shoes-text h3{
   font-size: 30px;
   margin-left: 60px;
 }

 .sellers {
   cursor: pointer;
    width: 300px;
   
 }
 .arrivals{
   cursor: pointer;
   margin-left: 100px;
    width: 300px;
 }
 .sales{
  cursor: pointer;
    margin-left: 100px;
   width: 300px;
 }
 

 .box-features{
   
 }
 .features1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   font-size: 25px;
   margin-left: 100px;
   margin-top: 100px;
   }
 .forbestsellers{
   display: block;
    
 }
 
 .sel-line1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 50px;
 }
  .sel-line2{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 100px;
    margin-top: 30px;
 }
 .arival-display{
 
   display: none;
 }
 .hotsales-display{
   display: none;
    pointer: cursor;
 }
 .sel-line3{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 30px;
    margin-top: 30px;
  
 }
  .sel-line4{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 30px;
    margin-top: 30px;
  
 }
 .sel-rating1{
   margin-top: -24px;
   position: absolute;
  
   margin-left: -70px;
  
 }
 .sel-rating2{
   margin-top: -24px;
   position: absolute;
   margin-left: 42px;
   width: 90px;
 }
 .sel-rating3{
   margin-top: -24px;
   position: absolute;
   margin-left: 42px;
   width: 90px;
 }
 .sel-rating4{
   margin-top: -24px;
   position: absolute;
   margin-left: 42px;
   width: 90px;
 }
 .sel-rating5{
   margin-top: -24px;
   position: absolute;
   margin-left: -70px;
   width: 90px;
 }
 .sel-rating6{
   margin-top: -24px;
   position: absolute;
   margin-left: 42px;
   width: 90px;
 }
 .sel-rating7{
   margin-top: -24px;
   position: absolute;
   margin-left: 42px;
   width: 90px;
 }
 .sel-rating8{
   margin-top: -24px;
   position: absolute;
   margin-left: 42px;
   width: 90px;
 }

 
 #sel-image1{
   width: 250px;
   height: 320px;
   margin-left: -70px;
   
 }
 #sel-image2{
   width: 250px;
   height: 320px;
    margin-left: 42px;
  
 }
 #sel-image3{
   width: 250px;
   height: 320px;
    margin-left: 42px;
   
 }
 #sel-image4{
   width: 250px;
   height: 320px;
    margin-left: 42px;
   
 }
 #sel-image5{
   width: 250px;
   height: 320px;
    margin-left: -70px;
  
 }
 #sel-image6{
   width: 250px;
   height: 320px;
   margin-left: 42px;
   
 }
 #sel-image7{
   width: 250px;
   height: 320px;
   margin-left: 42px;
  
 }
 #sel-image8{
   width: 250px;
   height: 320px;
   margin-left: 42px;
   
 }
 div.stars {
width: 40px;
display: inline-block;
}

input.star { display: none; }

label.star {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star:checked ~ label.star:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star-5:checked ~ label.star:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
content: '\f006';
font-family: FontAwesome;
}


 
  div.star1 {
width: 40px;
display: inline-block;
}

input.star1 { display: none; }

label.star1 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star1:checked ~ label.star1:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star1-5:checked ~ label.star1:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star1-1:checked ~ label.star1:before { color: #F62; }

label.star1:hover { transform: rotate(-15deg) scale(1.3); }

label.star1:before {
content: '\f006';
font-family: FontAwesome;
}



 div.star2 {
width: 40px;
display: inline-block;
}

input.star2 { display: none; }

label.star2 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star2:checked ~ label.star2:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star2-5:checked ~ label.star2:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star2-1:checked ~ label.star2:before { color: #F62; }

label.star2:hover { transform: rotate(-15deg) scale(1.3); }

label.star2:before {
content: '\f006';
font-family: FontAwesome;
}


 div.star3 {
width: 40px;
display: inline-block;
}

input.star3 { display: none; }

label.star3 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star3:checked ~ label.star3:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star3-5:checked ~ label.star3:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star3-1:checked ~ label.star3:before { color: #F62; }

label.star3:hover { transform: rotate(-15deg) scale(1.3); }

label.star3:before {
content: '\f006';
font-family: FontAwesome;
}



 div.star4 {
width: 40px;
display: inline-block;
}

input.star4 { display: none; }

label.star4 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star4:checked ~ label.star4:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star4-5:checked ~ label.star4:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star4-1:checked ~ label.star4:before { color: #F62; }

label.star4:hover { transform: rotate(-15deg) scale(1.3); }

label.star4:before {
content: '\f006';
font-family: FontAwesome;
}


 div.stars {
width: 40px;
display: inline-block;
}

input.star5 { display: none; }

label.star5 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star5:checked ~ label.star5:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star5-5:checked ~ label.star5:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star5-1:checked ~ label.star5:before { color: #F62; }

label.star5:hover { transform: rotate(-15deg) scale(1.3); }

label.star5:before {
content: '\f006';
font-family: FontAwesome;
}


 div.star6 {
width: 40px;
display: inline-block;
}

input.star6 { display: none; }

label.star6 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star6:checked ~ label.star6:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star6-5:checked ~ label.star6:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star6-1:checked ~ label.star6:before { color: #F62; }

label.star6:hover { transform: rotate(-15deg) scale(1.3); }

label.star6:before {
content: '\f006';
font-family: FontAwesome;
}

 div.star7 {
width: 40px;
display: inline-block;
}

input.star7 { display: none; }

label.star7 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star7:checked ~ label.star7:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star7-5:checked ~ label.star7:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star7-1:checked ~ label.star7:before { color: #F62; }

label.star7:hover { transform: rotate(-15deg) scale(1.3); }

label.star7:before {
content: '\f006';
font-family: FontAwesome;
}

 div.star8 {
width: 40px;
display: inline-block;
}

input.star8 { display: none; }

label.star8 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star8:checked ~ label.star8:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star8-5:checked ~ label.star8:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star8-1:checked ~ label.star8:before { color: #F62; }

label.star8:hover { transform: rotate(-15deg) scale(1.3); }

label.star8:before {
content: '\f006';
font-family: FontAwesome;
}
.add-to-cart1 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: -70px;
border-radius: 10px;
font-size: 16px;
}
   .add-to-cart2 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 42px;
border-radius: 10px;
font-size: 16px;
}
   .add-to-cart3 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 42px;
border-radius: 10px;
font-size: 16px;
}
   .add-to-cart4 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 42px;
border-radius: 10px;
font-size: 16px;
}
 .add-to-cart5 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: -70px;
border-radius: 10px;
font-size: 16px;
}
   .add-to-cart6 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 42px;
border-radius: 10px;
font-size: 16px;
}
   .add-to-cart7 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 42px;
border-radius: 10px;
font-size: 16px;
}
   .add-to-cart8 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 42px;
border-radius: 10px;
font-size: 16px;
}
 .sel-product1 h5{
   font-size: 18px;
   margin-top: -2px;
   margin-left: -70px;
 }
 
 .sel-amount1{
   font-size: 18px;
   margin-left: -70px;
 }
 
 .sel-product2 h5{
   font-size: 18px;
   margin-top: -2px;
   margin-left: 42px;
 }
 
 .sel-amount2{
   font-size: 18px;
   margin-left: 42px;
 }
 
 .sel-product3 h5{
   font-size: 18px;
   margin-top: -2px;
   margin-left: 42px;
 }
 
 .sel-amount3{
   font-size: 18px;
   margin-left: 42px;
 }
 
 .sel-product4 h5{
   font-size: 18px;
   margin-top: -2px;
   margin-left: 42px;
 }
   
 
 
 .sel-amount4{
   font-size: 18px;
   margin-left: 42px;
 }
 
 .sel-product5 h5{
   font-size: 18px;
   margin-top: -2px;
    margin-left: -70px;
 }
 
 .sel-amount5{
   font-size: 18px;
    margin-left: -70px;
 }
 
 .sel-product6 h5{
   font-size: 18px;
   margin-top: -2px;
   margin-left: 42px;
 }
 
 .sel-amount6{
   font-size: 18px;
   margin-left: 42px;
 }
 
  .sel-product7 h5{
   font-size: 18px;
   margin-top: -2px;
    margin-left: 42px;
 }
 
 .sel-amount7{
   font-size: 18px;
   margin-left: 42px;
 }
 
  .sel-product8 h5{
   font-size: 18px;
   margin-top: -2px;
    margin-left: 42px;
 }
 
 .sel-amount8{
   font-size: 18px;
   margin-left: 42px;
 }
 
 .box4{
   
 }
 
 .box4-left{
   width: 140px;
   height: 220px;
   
   margin-top: 140px;
   background-color: #f5f5f5;
   margin-left: 50px;
   
 }
 
 .box4-img{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
   height: 500px;
  
   margin-top: 30px;
   background-color: #fff;
 }
 
 .box4-clothing{
   
   width: 250px;
   margin-left: 80px;
   margin-top: 40px;
   opacity: 0.5;
 }
 #cloth-shoe{
   display: none;
 }
 .box4-shoe{
   
   width: 250px;
   margin-left: 80px;
 }
 
 .box4-accessories{
   
   width: 250px;
   margin-left: 80px;
   opacity: 0.5;
 }
 .box4-middle{
  
   margin-top: 60px;
   margin-left: 180px;
  
 }
 .sales4{
   margin-top: 120px;
   width: 100px;
   height: 100px;
   background-color: black;
   color: #fff;
   border-radius: 50%;
   text-align: center;
   margin-left: -90px;
  
  
 }
   .sales4-img{
    width: 250px;
   height: 250px;
   border: 1px solid transparent;
   margin-top: 60px;
 }
 .sales4-img img{
   width: 250px;
   height: 250px;
   object-fit: cover;
   overflow: hidden;
   
   
 }
 .box4-right{
   margin-top: 130px;
   font-size: 20px;
   margin-left: -115px;
 }
 .deals4{
   font-size: 16px;
 }
 .box4info{
   line-height: 10px;
 }
 .stopwatch{
   height: 200px;
 }
 .box4-button{
    margin-top: -60px;
 }
 .box4-button button{
  width: 130px;
   height: 45px;
  font-size: 15px;
   color: #fff;
   background-color: black;
   cursor: pointer;
   border-radius: 10px;
  
   
 }
 #clockdiv{


display: inline-grid;
font-weight: 100;
text-align: center;
font-size: 30px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: -45px;
   
}

#clockdiv > div{
padding: 10px;
border-radius: 3px;

display: inline-block;
}

#clockdiv div > span{
padding: 15px;
border-radius: 3px;

display: inline-block;
}
    #clockdivv{


display: inline-grid;
font-weight: 100;
text-align: center;
font-size: 30px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: -45px;
   
}

#clockdivv > div{
padding: 10px;
border-radius: 3px;

display: inline-block;
}

#clockdivv div > span{
padding: 15px;
border-radius: 3px;

display: inline-block;
}

    #clockdivvv{


display: inline-grid;
font-weight: 100;
text-align: center;
font-size: 30px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: -45px;
   
}

#clockdivvv > div{
padding: 10px;
border-radius: 3px;

display: inline-block;
}

#clockdivvv div > span{
padding: 15px;
border-radius: 3px;

display: inline-block;
}

.smalltext{
padding-top: 5px;
font-size: 16px;
}
 .seconds{
   margin-left: -20px;
 }
 .box5{
   display: grid;
   grid-template-columns: 1fr 1fr;
    width: 1190px;
   height: 850px;
   
   margin-top: 30px;
   background-color: #f2f3f4;
 }
 .Fashion{
   margin-top: 340px;
   margin-left: 50px;
   font-size: 22px;
 }
 .about-fashion{
   width: 400px;
   margin-left: 20px;
 }
 .box5-right{
   margin-left: -170px;
   margin-top: 120px;
 }
 .box5-line1 img{
   object-fit: cover;
 }
 #box5-image1{
    width: 250px;
   height: 300px;
   
 }
 #box5-image2{
    width: 250px;
   height: 300px;
   
 }
 #box5-image3{
    width: 250px;
   height: 300px;
   
 }
  #box5-image4{
    width: 250px;
   height: 300px;
   
 }
 #box5-image5{
    width: 250px;
   height: 300px;
  
 }
 #box5-image6{
    width: 250px;
   height: 300px;
   
 }
 .box6{
   width: 1190px;
   height: 650px;
   
   margin-top: 30px;
 }
 .box6header{
   text-align: center;
   font-size: 22px;
   margin-top: 30px;
 }
 .box6line{
   display: inline-grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-left: 47px;
 }
 .box6-image1{
   margin-left: -20px;
 }
 .box6-image3{
   margin-left: 20px;
 }
 .box6-image1 img{
   width: 350px;
   height: 450px;
  
   object-fit: fill;
   
 }
 .box6-image2 img{
   width: 350px;
   height: 450px;
  
    object-fit: fill;
 }
 .box6-image3 img{
   width: 350px;
   height: 450px;
   
    object-fit: fill;
 }
 .img-caption{
   width: 250px;
   height: 150px;
  
  background-color: #f2f3f4;
   margin-left: 50px;
   margin-top: -65px;
   padding: 5px;
   display: block;
   position: absolute;
 }
 .img-caption .date{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-left: 50px;
   margin-top: 20px;
 }
 .img-caption .date p{
   margin-top: -2px;
   margin-left: -70px;
 }
  .img-caption h4{
    width: 180px;
    margin-left: 45px;
    margin-top:-5px;
  }
  .img-caption h3{
    border-bottom: 3px solid black;
    width: 120px;
    margin-top: -10px;
    margin-left: 45px;
  }
 .box7{
   width: 1190px;
  color: white;
   height: 220px;
   background-color: black;
   margin-top: 30px;
 }
 .box7-info{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 30px;
   position: absolute;
 }
 .brand-aim{
   margin-left: 80px;
 }
 .brandaim-info{
  width: 270px;
 }
 .creditcard-info{
   width: 320px;
 }
 .creditcard-info img{
   width: 50px;
   height: 30px;
   border: 1px solid black;
   overflow: none;
 }
 .box7 .middle{
   margin-left: 100px;
   width: 200px;
 }
 .box7 .right-side{
    margin-left: 160px;
 }
 .sub-info{
   width: 270px;
 }
 .email-input{
   width: 250px;
   border-bottom: 3px solid white;
 }
 .email-input input{
    width: 250px;
  border: 0px;
   background-color: black;
    padding-bottom: 20px;
 }
 footer{
   width: 1190px;
  color: white;
   height: 100px;
   background-color: black;
  border-top: 1px solid grey;
   display: none;
  
 }








   
 }
  @media screen 
and (min-device-width: 1000px) 
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) { 

 .header{
   height: 60px;
   background-color: #2c2c2c;
   color: #fff;
   position: fixed;
   width: 98%;
  clear: both;
   display: block;
   margin: 0px 5px;
   margin-top: -10px;
}
 .logo h3{
    margin-top: 25px;
   margin-left: 40px;
   position: absolute;
 }
 .male{
   width: 150px;
   height: 53px;
   background-color: black;
   margin-top: 4px;
   position: absolute;
   text-align: center;
   margin-left: 100px;
 }
 .male a{
   text-decoration: none;
   color: #fff;
 }
  .female{
   width: 150px;
   height: 53px;
   background-color: black;
   margin-top: 4px;
   position: absolute;
    margin-left: 280px;
text-align: center;
 }
  .female a{
   text-decoration: none;
   color: #fff;
 }
 .right-header{
   
   float: right;
   margin-top: 29px;
   margin-right: 30px;
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
 .search{
   margin-left: -30px;
 }
  .search a{
   text-decoration: none;
   color: #fff;
  }
 .cart a{
   text-decoration: none;
   color: #fff;
 }
 .main{
   background-image: url('https://imagizer.imageshack.com/img923/550/c6Lbto.jpg');
   width: 100vw;
  background-position: center center;
 max-width: 1340px;
 background-size: cover;
   overflow: hidden;
  background-repeat: no-repeat;
   display: flex;
   justify-content: space-evenly;
   padding: 100px 0px;
   margin: 0px 2%;
 }
     @media screen 
and (min-device-width: 1000px) 
and (max-device-width: 1199px){
      .main{
       width: 132%;
       max-width: 1320px;
      }
}

    @media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1300px){
      .main{
        width: 110vw;
      }
}
 .box1{
   margin-top: 100px;
   
 }
 .main-text{
  width: 600px;
   margin-top: 120px;
    
   padding: 50px;
 }
 .main-text p{
   
   margin-top: 10px;
   
   margin-left: 30px;
   font-size: 1rem;
 }
 .main-text h1{
  
  
   margin-left: 30px;
  
   font-size: 2.5rem;
 }
 .shop-today{
  
    
   margin-left: 1px;
   font-size: 1rem;
    width: 50%;
 }
 .main-text button{
   width: 130px;
   margin-top: 20px;
   color: #fff;
  font-size: 15px;
   margin-left: 30px;
   height: 50px;
   background-color: black;
   z-index: auto;
   cursor: pointer;
 }
 button a{
   margin-left: -4px;
   font-size: 16px;
   text-decoration: none;
   color: #fff;
 
 }
 button i{
   margin-left: 10px;
   font-size:16px;
 }
 .main-img{
   float: right;
   width: 350px;
 margin-top: 100px;
   
   
  
  
 }
 .main-img img{
   
   width: 350px;
   height: 450px;
   
  
 }
 .box1{
   
  
   width: 500px;
   height: 600px;
  margin-left: 61vw;
   margin-right: 50px;
   font-size: 22px;
  
 }
 .box1 img{
   width: 500px;
   height: 600px;
   overflow: hidden;
   object-fit: cover;
   border-radius: 20px;
 }

 
 .shopnow{
  font-size: 15px;
 
   margin-top: -296px;
   margin-left: -60px
 }
  .shopnow button{
   width: 110px;
   height: 45px;
  font-size: 15px;
    cursor: pointer;
 background-color: black;
   color: #fff;
 }
 .clothing{
   position: absolute;
   margin-top: -390px;
   margin-left: -100px;
   line-height: 10px;
 }
 .clothing h2{
   margin-left: -30px;
 }
 .clothing h3{
   font-size: 30px;
   margin-left: 60px;
 }
 .box2{
    width: 500px;
   height: 600px;
   font-size: 22px;
   margin-top: -180px;
   margin-left: 40px;
   clear: both;
  
 }
 .box2 img{
   width: 500px;
   height: 600px;
    border-radius: 20px;

   object-fit: cover;
 }
 
 .box2-text {
    margin-left: -30px;
 }
  .box2 h2{
   margin-top: -360px;
   margin-left: 450px;
 }
  .box2 button{
  width: 110px;
   height: 45px;
    margin-left: 450px;
    background-color: black;
    color: #fff;
 }
 .shopnow2{
    margin-left: 30px;
   margin-top: -20px;
  
   
 }
 .shopnow2 button{
   width: 110px;
   height: 45px;
  font-size: 15px;
   cursor: pointer;
   background-color: black;
   color: #fff;
 }
     .box3{
    width: 500px;
   height: 600px;
   
   margin-top: -160px;
  margin-left: 61vw;
      
      
 }
  .box3 img{
   width: 500px;
   height: 600px;
     border-radius: 20px;
 }
 .shoes-text{
   margin-top: -390px;
   margin-left: -100px;
   line-height: 10px;
   font-size: 22px;
 }
 .shoes-text button{
   width: 110px;
   height: 45px;
  font-size: 15px;
   cursor: pointer;
   margin-left: 50px;
   background-color: black;
   color: #fff;
   
 }
 .shoes-text h3{
   font-size: 30px;
   margin-left: 60px;
 }
    

 .sellers {
   cursor: pointer;
 }
 .arrivals{
   cursor: pointer;
 }
 .sales{
  cursor: pointer;
 }
 

 .box-features{
   
 }
 .features1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   font-size: 25px;
   margin-left: 200px;
   margin-top: 100px;
   }
 .forbestsellers{
   display: block;
    
 }
 
 .sel-line1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 35px;
 }
  .sel-line2{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 35px;
    margin-top: 30px;
 }
 .arival-display{
 
   display: none;
 }
 .hotsales-display{
   display: none;
    pointer: cursor;
 }
 .sel-line3{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 35px;
    margin-top: 30px;
  
 }
  .sel-line4{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 35px;
    margin-top: 30px;
  
 }
 .sel-rating1{
   margin-top: -24px;
   position: absolute;
   margin-left: 0px;
  
 }
 .sel-rating2{
   margin-top: -24px;
   position: absolute;
   margin-left: 0px;
 }
 .sel-rating3{
   margin-top: -24px;
   position: absolute;
   margin-left: 0px;
 }
 .sel-rating4{
   margin-top: -24px;
   position: absolute;
   margin-left: 0px;
 }
 .sel-rating5{
   margin-top: -24px;
   position: absolute;
   margin-left: 0px;
 }
 .sel-rating6{
   margin-top: -24px;
   position: absolute;
   margin-left: 0px;
 }
 .sel-rating7{
   margin-top: -24px;
   position: absolute;
   margin-left: 0px;
 }
 .sel-rating8{
   margin-top: -24px;
   position: absolute;
   margin-left: 0px;
 }

 
 #sel-image1{
   width: 290px;
   height: 320px;
   
 }
 #sel-image2{
   width: 290px;
   height: 320px;
  
 }
 #sel-image3{
   width: 290px;
   height: 320px;
   
 }
 #sel-image4{
   width: 290px;
   height: 320px;
   
 }
 #sel-image5{
   width: 290px;
   height: 320px;
  
 }
 #sel-image6{
   width: 290px;
   height: 320px;
   
 }
 #sel-image7{
   width: 290px;
   height: 320px;
  
 }
 #sel-image8{
   width: 290px;
   height: 320px;
   
 }
 div.stars {
width: 40px;
display: inline-block;
}

input.star { display: none; }

label.star {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star:checked ~ label.star:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star-5:checked ~ label.star:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
content: '\f006';
font-family: FontAwesome;
}


 
  div.star1 {
width: 40px;
display: inline-block;
}

input.star1 { display: none; }

label.star1 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star1:checked ~ label.star1:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star1-5:checked ~ label.star1:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star1-1:checked ~ label.star1:before { color: #F62; }

label.star1:hover { transform: rotate(-15deg) scale(1.3); }

label.star1:before {
content: '\f006';
font-family: FontAwesome;
}



 div.star2 {
width: 40px;
display: inline-block;
}

input.star2 { display: none; }

label.star2 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star2:checked ~ label.star2:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star2-5:checked ~ label.star2:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star2-1:checked ~ label.star2:before { color: #F62; }

label.star2:hover { transform: rotate(-15deg) scale(1.3); }

label.star2:before {
content: '\f006';
font-family: FontAwesome;
}


 div.star3 {
width: 40px;
display: inline-block;
}

input.star3 { display: none; }

label.star3 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star3:checked ~ label.star3:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star3-5:checked ~ label.star3:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star3-1:checked ~ label.star3:before { color: #F62; }

label.star3:hover { transform: rotate(-15deg) scale(1.3); }

label.star3:before {
content: '\f006';
font-family: FontAwesome;
}



 div.star4 {
width: 40px;
display: inline-block;
}

input.star4 { display: none; }

label.star4 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star4:checked ~ label.star4:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star4-5:checked ~ label.star4:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star4-1:checked ~ label.star4:before { color: #F62; }

label.star4:hover { transform: rotate(-15deg) scale(1.3); }

label.star4:before {
content: '\f006';
font-family: FontAwesome;
}


 div.stars {
width: 40px;
display: inline-block;
}

input.star5 { display: none; }

label.star5 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star5:checked ~ label.star5:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star5-5:checked ~ label.star5:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star5-1:checked ~ label.star5:before { color: #F62; }

label.star5:hover { transform: rotate(-15deg) scale(1.3); }

label.star5:before {
content: '\f006';
font-family: FontAwesome;
}


 div.star6 {
width: 40px;
display: inline-block;
}

input.star6 { display: none; }

label.star6 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star6:checked ~ label.star6:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star6-5:checked ~ label.star6:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star6-1:checked ~ label.star6:before { color: #F62; }

label.star6:hover { transform: rotate(-15deg) scale(1.3); }

label.star6:before {
content: '\f006';
font-family: FontAwesome;
}

 div.star7 {
width: 40px;
display: inline-block;
}

input.star7 { display: none; }

label.star7 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star7:checked ~ label.star7:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star7-5:checked ~ label.star7:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star7-1:checked ~ label.star7:before { color: #F62; }

label.star7:hover { transform: rotate(-15deg) scale(1.3); }

label.star7:before {
content: '\f006';
font-family: FontAwesome;
}

 div.star8 {
width: 40px;
display: inline-block;
}

input.star8 { display: none; }

label.star8 {
float: right;
padding: 2px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star8:checked ~ label.star8:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star8-5:checked ~ label.star8:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star8-1:checked ~ label.star8:before { color: #F62; }

label.star8:hover { transform: rotate(-15deg) scale(1.3); }

label.star8:before {
content: '\f006';
font-family: FontAwesome;
}
.add-to-cart1 {
width: 120px;
height: 40px;
margin-top: 7px;
color: black;
margin-left: 0px;
border-radius: 10px;
font-size: 16px;
border: 0px solid transparent;
}
   .add-to-cart2 {
width: 120px;
height: 40px;
margin-top: 7px;
color: black;
margin-left: 0px;
border-radius: 10px;
font-size: 16px;
border: 0px solid transparent;
}
   .add-to-cart3 {
width: 120px;
height: 40px;
margin-top: 7px;
color: black;
margin-left: 0px;
border-radius: 10px;
font-size: 16px;
border: 0px solid transparent;
}
   .add-to-cart4 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 0px;
border-radius: 10px;
font-size: 16px;
border: 0px solid transparent;
}
 .add-to-cart5 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 0px;
border-radius: 10px;
font-size: 16px;
border: 0px solid transparent;
}
   .add-to-cart6 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 0px;
border-radius: 10px;
font-size: 16px;
border: 0px solid transparent;
}
   .add-to-cart7 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 0px;
border-radius: 10px;
font-size: 16px;
border: 0px solid transparent;
}
   .add-to-cart8 {
width: 120px;
height: 40px;
margin-top: 9px;
color: black;
margin-left: 0px;
border-radius: 10px;
font-size: 16px;
border: 0px solid transparent;
}
 
 .sel-product1 h5{
   font-size: 18px;
   margin-top: -2px;
 }
 
 .sel-amount1{
   font-size: 18px;
 }
 
 .sel-product2 h5{
   font-size: 18px;
   margin-top: -2px;
 }
 
 .sel-amount2{
   font-size: 18px;
 }
 
 .sel-product3 h5{
   font-size: 18px;
   margin-top: -2px;
 }
 
 .sel-amount3{
   font-size: 18px;
 }
 
 .sel-product4 h5{
   font-size: 18px;
   margin-top: -2px;
 }
 
 
 .sel-amount4{
   font-size: 18px;
 }
 
 .sel-product5 h5{
   font-size: 18px;
   margin-top: -2px;
 }
 
 .sel-amount5{
   font-size: 18px;
 }
 
 .sel-product6 h5{
   font-size: 18px;
   margin-top: -2px;
 }
 
 .sel-amount6{
   font-size: 18px;
 }
 
  .sel-product7 h5{
   font-size: 18px;
   margin-top: -2px;
 }
 
 .sel-amount7{
   font-size: 18px;
 }
 
  .sel-product8 h5{
   font-size: 18px;
   margin-top: -2px;
 }
 
 .sel-amount8{
   font-size: 18px;
 }
 
 .box4{
   margin-left: 50px;
 }
 
 .box4-left{
   width: 140px;
   height: 220px;
   
   margin-top: 140px;
   background-color: #f5f5f5;
   margin-left: -20px;
   
 }
 
 .box4-img{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1290px;
   height: 500px;
  
   margin-top: 30px;
   background-color: #fff;
 }
 
 .box4-clothing{
   
   width: 250px;
   margin-left: 80px;
   margin-top: 40px;
   opacity: 0.5;
 }
 #cloth-shoe{
   display: none;
 }
 .box4-shoe{
   
   width: 250px;
   margin-left: 80px;
 }
 
 .box4-accessories{
   
   width: 250px;
   margin-left: 80px;
   opacity: 0.5;
 }
 .box4-middle{
  
   margin-top: 60px;
   margin-left: 180px;
  
 }
 .sales4{
   margin-top: 140px;
   width: 100px;
   height: 100px;
   background-color: black;
   color: #fff;
   border-radius: 50%;
   text-align: center;
   margin-left: -80px;
  
  
 }
    .sales4-img{
    width: 300px;
   height: 300px;
   border: 1px solid transparent;
   margin-top: 80px;
 }
 .sales4-img img{
   width: 300px;
   height: 300px;
   object-fit: cover;
   overflow: hidden;
   
   
 }
 .box4-right{
   margin-top: 130px;
   font-size: 20px;
   margin-left: -115px;
 }
 .deals4{
   font-size: 16px;
 }
 .box4info{
   line-height: 10px;
 }
 .stopwatch{
   height: 200px;
 }
 .box4-button{
    margin-top: -60px;
 }
 .box4-button button{
  width: 110px;
   height: 45px;
  font-size: 15px;
   color: #fff;
   background-color: black;
   cursor: pointer;
   
  
   
 }
 #clockdiv{


display: inline-grid;
font-weight: 100;
text-align: center;
font-size: 30px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: -45px;
   
}

#clockdiv > div{
padding: 10px;
border-radius: 3px;

display: inline-block;
}

#clockdiv div > span{
padding: 15px;
border-radius: 3px;

display: inline-block;
}

    #clockdivv{


display: inline-grid;
font-weight: 100;
text-align: center;
font-size: 30px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: -45px;
   
}

#clockdivv > div{
padding: 10px;
border-radius: 3px;

display: inline-block;
}

#clockdivv div > span{
padding: 15px;
border-radius: 3px;

display: inline-block;
}

    #clockdivvv{


display: inline-grid;
font-weight: 100;
text-align: center;
font-size: 30px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: -45px;
   
}

#clockdivvv > div{
padding: 10px;
border-radius: 3px;

display: inline-block;
}

#clockdivvv div > span{
padding: 15px;
border-radius: 3px;

display: inline-block;
}

.smalltext{
padding-top: 5px;
font-size: 16px;
}
 .seconds{
   margin-left: -20px;
 }
 .box5{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 1350px;
   height: 850px;
   margin-left: 30px;
   margin-top: 30px;
   background-color: #f2f3f4;
 }
 .Fashion{
   margin-top: 340px;
   margin-left: 50px;
   font-size: 22px;
 }
 .about-fashion{
   width: 400px;
   margin-left: 20px;
 }
 .box5-right{
   margin-left: -130px;
   margin-top: 120px;
 }
 .box5-line1 img{
   object-fit: cover;
 }
 #box5-image1{
    width: 250px;
   height: 300px;
   
 }
 #box5-image2{
    width: 250px;
   height: 300px;
   
 }
 #box5-image3{
    width: 250px;
   height: 300px;
   
 }
  #box5-image4{
    width: 250px;
   height: 300px;
   
 }
 #box5-image5{
    width: 250px;
   height: 300px;
  
 }
 #box5-image6{
    width: 250px;
   height: 300px;
   
 }
 .box6{
   width: 1370px;
   height: 650px;
   margin-left: 30px;
   margin-top: 30px;
 }
 .box6header{
   text-align: center;
   font-size: 22px;
   margin-top: 30px;
 }
 .box6line{
   display: inline-grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-left: 70px;
 }
 .box6-image1{
   margin-left: -20px;
 }
 .box6-image3{
   margin-left: 20px;
 }
 .box6-image1 img{
   width: 400px;
   height: 450px;
  
   object-fit: fill;
   
 }
 .box6-image2 img{
   width: 400px;
   height: 450px;
  
    object-fit: fill;
 }
 .box6-image3 img{
   width: 400px;
   height: 450px;
   
    object-fit: fill;
 }
 .img-caption{
   width: 250px;
   height: 150px;
  
  background-color: #f2f3f4;
   margin-left: 70px;
   margin-top: -65px;
   padding: 5px;
   display: block;
   position: absolute;
 }
 .img-caption .date{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-left: 50px;
   margin-top: 20px;
 }
 .img-caption .date p{
   margin-top: -2px;
   margin-left: -70px;
 }
  .img-caption h4{
    width: 180px;
    margin-left: 45px;
    margin-top:-5px;
  }
  .img-caption h3{
    border-bottom: 3px solid black;
    width: 120px;
    margin-top: -10px;
    margin-left: 45px;
  }
 .box7{
   width: 1370px;
  color: white;
   height: 260px;
   background-color: #2c2c2c;
   margin-top: 30px;
   margin-left: 20px;
 }
 .box7-info{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 80px;
   position: absolute;
 }
 .brand-aim{
   margin-left: 30px;
 }
 .brandaim-info{
  width: 270px;
 }
 .creditcard-info{
   
 }
 .creditcard-info img{
   width: 50px;
   height: 30px;
   border: 1px solid black;
   overflow: none;
 }
 .box7 .middle{
   margin-left: 150px;
 }
 .box7 .right-side{
    margin-left: 100px;
 }
 .sub-info{
   width: 270px;
 }
 .email-input{
   width: 250px;
   border-bottom: 3px solid white;
 }
 .email-input input{
    width: 250px;
  border: 0px;
  background-color: #2c2c2c;
    padding-bottom: 20px;
 }
 footer{
   width: 1300px;
  color: white;
   height: 100px;
  background-color: #2c2c2c;
  border-top: 1px solid grey;
   display: none;
   margin: 0 60px;
  
 }
    .cart1 button{
      background-color: black;
      border: 1px solid black;
      color: #fff;
    }
  }
button{
  background-color: black;
  color: #fff;
} 
.hotsales-display button{
    color: #fff;
}
.arival-display button{
    color: #fff;
}